<div class="choose-one-grid row">
    <div class="category-message">
        PLEASE CHOOSE YOUR DESIRED <span class="red-text">CATEGORY</span>
    </div>
    <div class="card">
        <img src="../../../assets/jacket.png" class="any-cloth-img">
        Jackets
    </div>
    <div class="card">
        <img src="../../../assets/shoes.png" class="any-cloth-img">
        Shoes
    </div>
    <div class="card">
        <img src="../../../assets/jeans.png" class="jeans-img">
        Jeans
    </div>
    <div class="card">
        <img src="../../../assets/sports.png" class="any-cloth-img">
        Sports
    </div>
    <div class="card">
        <img src="../../../assets/cap.png" class="any-cloth-img">
        Caps
    </div>
    <div class="card">
        <img src="../../../assets/hoodie.png" class="sweater-img">
        Sweaters
    </div>
    <div class="card">
        <img src="../../../assets/backpack.png" class="backpack-img">
        Backpacks
    </div>
    <div class="card">
        <img src="../../../assets/dress.png" class="dress-img">
        Dresses
    </div>
    <div class="card">
        <img src="../../../assets/sunglasses.png" class="sunglasses-img">
        Sunglasses
    </div>
    <div class="card">
        <img src="../../../assets/shorts.png" class="shorts-img">
        Shorts
    </div>
    <div class="card">
        <img src="../../../assets/accessories.png" class="accessories-img">
        Accessories
    </div>
</div>
