<div class="admin-page">
    <div class="admin-page-contents-container">
        <div class="row">
            <a ariaCurrentWhenActive="page" class="card" (click)="currentSection = 'widgets'; createChart();">
                <span><i class="bi bi-columns"></i>&nbsp;&nbsp;WIDGETS</span>
            </a>
            <a ariaCurrentWhenActive="page" class="card"
                (click)="currentSection = 'ordersMgmt'; selectFirstOrderAtStart();">
                <span><i class="bi bi-bag-check-fill"></i>&nbsp;&nbsp;ORDERS MANAGEMENT</span>
            </a>
            <a ariaCurrentWhenActive="page" class="card" (click)="currentSection = 'addNew'">
                <span><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;ADD NEW PRODUCT</span>
            </a>
            <span class="section-title"><i class="bi bi-box-fill"></i>&nbsp;&nbsp;SITE ADMINISTRATION</span>
        </div>
        <div class="widgets-container" *ngIf="currentSection === 'widgets'">
            <div class="row">
                <div class="col-4 chart-col">
                    <div class="chart-container">
                        Sales by Category (All Time)
                        <canvas class="mt-3" id="SalesChart">{{ salesChart }}</canvas>
                    </div>
                </div>
                <div class="col-2 small-widgets-col">
                    <div class="row">
                        <div class="money-widget">
                            Sales Value for This Month
                            <div class="money-widget-display-value">
                                <i class="bi bi-coin"></i>&nbsp;9,307
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="registered-customers-widget">
                            Newly Registered Customers
                            <div class="registered-customers-display-value">
                                <i class="bi bi-person-fill-add"></i>&nbsp;87
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 products-col">
                    <div class="products-container">
                        Active Products
                        <div class="products-table">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Product Price</th>
                                        <th scope="col">Image URL</th>
                                        <th scope="col" class="actions-th">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productsTableData">
                                        <td>{{item.genderName}}</td>
                                        <td>{{item.categoryName}}</td>
                                        <td class="item-name">{{item.itemName}}</td>
                                        <td class="item-price">{{item.price}}$</td>
                                        <td class="item-image-url" (click)="goToCloudinary(item.imageUrl!)">
                                            {{item.imageUrl}}</td>
                                        <td class="item-actions">
                                            <button type="button" class="btn btn-secondary action-btn mr-1">
                                                <i class="bi bi-pen-fill"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger action-btn mr-1">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                            <button type="button" class="btn btn-warning action-btn"
                                                (click)="goToItem(item)">
                                                <i class="bi bi-share-fill"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row below-info-row">
                <div class="col-12 info-container">
                    Currently Logged As: <strong>{{user?.firstName}}</strong> <span class="mx-3">|</span> Role:
                    <strong>ROLE_EDITOR</strong> <span class="mx-3">|</span>
                    Current Timestamp: <strong>{{getTimestamp()}}</strong>
                </div>
            </div>
        </div>
        <div class="orders-mgmt-container" *ngIf="currentSection === 'ordersMgmt'">
            <div class="row">
                <div class="orders-table-container">
                    <div class="p-2">Orders</div>
                    <div class="table-subcontainer">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#Order No.</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Order Placement Date</th>
                                    <th scope="col">Order Total</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody id="orders-table-body">
                                <tr *ngFor="let order of ordersTableData, let i = index"
                                    [id]="'orders-table-row-' + (i + 1)" (click)="selectOrder(i + 1, order)">
                                    <th scope="row">{{order?._id}}</th>
                                    <td>{{order?.user?.firstName}} {{order?.user?.lastName}}</td>
                                    <td>{{order?.date}}</td>
                                    <td>${{order?.total}}</td>
                                    <td>{{order?.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p-2 mt-2 selected-order-headings">
                        <div>Order Details</div>
                        <div style="margin-left: 14.5rem;">Customer Details</div>
                        <div style="margin-right: 25.5rem;">Order Actions</div>
                    </div>
                    <div class="order-details-container d-flex">
                        <div class="order-products-table">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" style="width: 360px;">Ordered Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody id="orders-table-body">
                                    <tr *ngFor="let orderItem of selectedOrder?.orderItems">
                                        <td>{{orderItem?.product?.itemName}}</td>
                                        <td>${{orderItem?.product?.price}}</td>
                                        <td>{{orderItem?.qty}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="order-customer-details">
                            <div>
                                <strong>First Name:</strong>&nbsp;
                                <span>{{selectedOrder?.user?.firstName}}</span>
                            </div>
                            <div class="mt-1">
                                <strong>Last Name:</strong>&nbsp;
                                <span>{{selectedOrder?.user?.lastName}}</span>
                            </div>
                            <div class="mt-1">
                                <strong>Address:</strong>&nbsp;
                                <span>{{selectedOrder?.deliveryOptions?.address}}</span>
                            </div>
                            <div class="mt-1">
                                <strong>Phone Number:</strong>&nbsp;
                                <span>+40{{selectedOrder?.deliveryOptions?.phone}}</span>
                            </div>
                            <div class="mt-1">
                                <strong>Order Total:</strong>&nbsp;
                                <span>${{selectedOrder?.total}}</span>
                            </div>
                            <div class="mt-1">
                                <strong>Payment Method:</strong>&nbsp;
                                <span>VISA</span>
                            </div>
                        </div>
                        <div class="order-actions">
                            <div class="fulfill-btn">
                                <button type="button" class="btn btn-success">Fulfill Order</button>
                            </div>
                            <div class="refund-btn">
                                <button type="button" class="btn btn-danger">Refund Order</button>
                            </div>
                            <div class="infos">
                                <p>* Fulfilling an order will send a notification with the order details to the
                                    DeltaCourier Services, our delivery partner.</p>
                                <p>* Refunding an order will send a notification with the order details to the client's
                                    bank provider in order to cancel the transaction. It may take up to 7 days for the
                                    refund to finalize.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-new-container" *ngIf="currentSection === 'addNew'">
            <div class="row">
                <div class="new-product-forms-container">
                    <div class="new-product-actions">
                        <button type="button" class="btn btn-success submit-product-btn" (click)="submit()">
                            <i class="bi bi-check2-all"></i>&nbsp;Submit
                        </button>
                        <button type="button" class="btn btn-secondary reset-product-btn" (click)="reset()">
                            <i class="bi bi-x-lg"></i>&nbsp;Reset
                        </button>
                    </div>
                    <div class="new-product-forms">
                        <div class="row">
                            <div class="col-4">
                                <div class="product-img-container">
                                    <img class="product-img" id="productImgOnSide"
                                        src="../../../assets/image-not-found.png" width="450" height="600">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="product-details-container">
                                    <div class="product-name">
                                        <label for="productName">Product Name</label>
                                        <input type="text" class="form-control" id="productName"
                                            [(ngModel)]="productToAdd.innerProduct.itemName" placeholder="Type here...">
                                    </div>
                                    <div class="product-image-url mt-3">
                                        <label for="imageUrl">Upload Image</label>
                                        <input type="file" accept="image/*" class="form-control" id="imageUrl"
                                            (change)="uploadProductImage(imageUrl)" #imageUrl
                                            placeholder="Click here to upload image (supported formats include: JPG, JPEG, PNG)">
                                    </div>
                                    <div class="gender-category mt-3">
                                        <div class="gender">
                                            <label for="gender">Gender</label>
                                            <select class="form-select" id="gender"
                                                [(ngModel)]="productToAdd.innerProduct.genderName">
                                                <option selected disabled value="none">Select...</option>
                                                <option value="men">Men</option>
                                                <option value="women">Women</option>
                                            </select>
                                        </div>
                                        <div class="category">
                                            <label for="category">Category</label>
                                            <select class="form-select" id="category"
                                                [(ngModel)]="productToAdd.innerProduct.categoryName">
                                                <option selected disabled value="none">Select...</option>
                                                <option *ngFor="let categ of categories" [value]="categ.toLowerCase()">
                                                    {{categ}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="product-description mt-3">
                                        <label for="productDescription">Product Description</label>
                                        <textarea class="form-control" id="productDescription" rows="5"
                                            [(ngModel)]="productToAdd.innerProduct.description"
                                            style="resize: none;"></textarea>
                                    </div>
                                    <div class="price-currency mt-3">
                                        <div class="price">
                                            <label for="price">Price</label>
                                            <input type="number" class="form-control" id="price"
                                                [(ngModel)]="productToAdd.innerProduct.price"
                                                placeholder="Type here...">
                                        </div>
                                        <div class="currency">
                                            <label for="currency">Currency</label>
                                            <input type="text" class="form-control" id="currency" disabled
                                                [(ngModel)]="productToAdd.innerProduct.currency">
                                        </div>
                                    </div>
                                    <div class="infos">
                                        <p>* The image container on the left side will be populated once you
                                            successfully
                                            upload the product image.</p>
                                        <p>* Allowed image formats are JPG, JPEG and PNG. The maximum allowed file size
                                            is 50 MB.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>