@import '../../../styles.scss';

.admin-page {
    width: 100vw;
    height: 100vh;
    margin-top: 3.7rem;
    background: url("../../../assets/bg.jpg") no-repeat;
    background-size: cover;
    overflow-y: scroll;
    display: flex;
    justify-content: center;

    .admin-page-contents-container {
        width: 100%;
        height: 86.7%;
        background-color: #2b2b2b;
        color: #fff;
        border-radius: 5px;
        margin: 3rem 1rem;
        overflow: hidden;
        overflow-y: scroll;

        .row {
            margin-left: 0.5rem;
            margin-top: 1rem;
        }

        .section-title {
            width: 15rem;
            font-size: 17px;
            font-weight: 500;
            color: #fff;
            position: fixed;
            right: 1.5rem;
            top: 8.3rem;
        }

        .card {
            all: unset;
            border-radius: 4px;
            border: 1px solid $base-gray;
            background-color: $base-gray;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
            font-size: 17px;
            font-weight: 500;
            height: 15px;
            width: auto;
            margin: 0 8px 16px;
            padding: 16px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            transition: all 0.2s ease-in-out;
            line-height: 24px;
            box-shadow: 0 4px 17px rgb(0, 0, 0);
            cursor: pointer;
        }

        .card:hover {
            transform: translateY(-3px);
        }

        .widgets-container {
            width: 100%;
            height: auto;
            color: black;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;

            .row {
                margin-top: 0;
            }

            .chart-col {
                padding-left: 9px;
                padding-right: 0;

                .chart-container {
                    border-radius: 4px;
                    background-color: #fff;
                    width: 100%;
                    height: 35rem;
                    box-shadow: 0 4px 17px rgb(0, 0, 0);
                    transition: all 0.2s ease-in-out;
                    padding: 16px;
                    cursor: pointer;
                }

                .chart-container:hover {
                    transform: translateY(-3px);
                }
            }

            .small-widgets-col {
                padding-left: 9px;
                padding-right: 0;

                .money-widget {
                    border-radius: 4px;
                    background-color: #fff;
                    width: 100%;
                    height: 17rem;
                    box-shadow: 0 4px 17px rgb(0, 0, 0);
                    transition: all 0.2s ease-in-out;
                    padding: 16px;
                    cursor: pointer;

                    .money-widget-display-value {
                        margin-top: 2.5rem;
                        font-size: 3rem;
                        font-weight: 400;
                    }
                }

                .registered-customers-widget {
                    border-radius: 4px;
                    background-color: #fff;
                    width: 100%;
                    height: 17rem;
                    box-shadow: 0 4px 17px rgb(0, 0, 0);
                    transition: all 0.2s ease-in-out;
                    margin-top: 1rem;
                    padding: 16px;
                    cursor: pointer;

                    .registered-customers-display-value {
                        margin-top: 3rem;
                        font-size: 3rem;
                        font-weight: 400;
                    }
                }

                .money-widget:hover,
                .registered-customers-widget:hover {
                    transform: translateY(-3px);
                }
            }

            .products-col {
                padding-left: 27px;
                padding-right: 27px;

                .products-container {
                    border-radius: 4px;
                    background-color: #fff;
                    width: 100%;
                    height: 35rem;
                    box-shadow: 0 4px 17px rgb(0, 0, 0);
                    transition: all 0.2s ease-in-out;
                    padding: 16px;

                    .products-table {
                        margin-top: 1rem;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        max-height: 475px;
                        overflow: hidden;
                        overflow-y: scroll;

                        .table {
                            color: #000;
                        }

                        .table>.thead-dark>tr>th {
                            font-weight: 500 !important;
                        }

                        .table>.thead-dark {
                            position: sticky;
                            top: -1px;
                        }

                        .actions-th {
                            text-align: center;
                        }

                        .item-name {
                            max-width: 150px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .item-price {
                            max-width: 50px;
                        }

                        .item-image-url {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 100px;
                            color: rgb(0, 102, 255);
                            text-decoration: underline;
                            cursor: pointer;
                        }

                        .item-actions {
                            width: 200px;
                            text-align: center;

                            .action-btn {
                                padding: 0.1rem 0.5rem;
                            }
                        }
                    }
                }

                .products-container:hover {
                    transform: translateY(-3px);
                }
            }

            .below-info-row {
                margin-top: 1rem;
                padding-left: 9px;
                padding-right: 27px;

                .info-container {
                    width: 100%;
                    height: 8.5rem;
                    border-radius: 4px;
                    background-color: #fff;
                    box-shadow: 0 4px 17px rgb(0, 0, 0);
                    transition: all 0.2s ease-in-out;
                    text-align: left;
                    padding-top: 3rem;
                    font-size: 21px;
                    font-weight: 500;
                    padding-left: 3rem;
                    cursor: pointer;
                }

                .info-container:hover {
                    transform: translateY(-3px);
                }
            }
        }

        .orders-mgmt-container {

            .row {
                margin-left: 17px;
                margin-right: 15px;
                margin-top: 0;
            }

            .orders-table-container {
                background-color: #fff;
                border-radius: 4px;
                height: 44.7rem;
                box-shadow: 0 4px 17px rgb(0, 0, 0);
                color: #000;
                font-size: 1.5rem;
                font-weight: 700;

                .table-subcontainer {
                    max-height: 20rem;
                    overflow: hidden;
                    overflow-y: scroll;
                    padding-left: 0.5rem;
                }
            }

            .orders-table-container .table {
                font-size: 15px;
                font-weight: 500;
                text-align: left;

                >.thead-dark {
                    position: sticky;
                    top: -1px;
                }

                >tbody>tr {
                    cursor: pointer;
                }
            }

            .orders-table-container .table>.thead-dark>tr>th {
                font-weight: 500 !important;
            }

            .selected-order-headings {
                display: flex;
                justify-content: space-between;
            }

            .order-details-container {
                width: 100%;
                height: 17.5rem;

                .order-products-table {
                    padding-left: 0.5rem;
                    width: 35rem;
                    margin-top: 1.2rem;
                    max-height: 15.8rem;
                    overflow: hidden;
                }

                .order-customer-details {
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: 4.3rem;
                    margin-top: 1rem;
                    max-width: 40rem;
                }

                .order-actions {
                    width: 30rem;
                    margin-left: 14.5rem;
                    margin-top: 1rem;

                    .fulfill-btn {
                        >.btn {
                            width: 10rem;
                        }
                    }

                    .refund-btn {
                        margin-top: 1rem;

                        >.btn {
                            width: 10rem;
                        }
                    }

                    .infos {
                        font-size: 15px;
                        font-weight: 500;
                        margin-top: 1rem;
                    }
                }
            }
        }

        .add-new-container {

            .row {
                margin-left: 17px;
                margin-right: 15px;
                margin-top: 0;
            }

            .new-product-forms-container {
                background-color: #fff;
                border-radius: 4px;
                height: 44.7rem;
                box-shadow: 0 4px 17px rgb(0, 0, 0);
                color: #000;
                font-size: 1.5rem;
                font-weight: 700;

                .new-product-actions {
                    width: 100%;
                    margin-top: 1rem;
                    display: flex;
                    justify-content: flex-end;

                    .submit-product-btn {
                        width: 7rem;
                        margin-right: 10px;
                    }

                    .reset-product-btn {
                        width: 7rem;
                        margin-right: 27px;
                    }
                }

                .new-product-forms {
                    width: 100%;
                    margin-top: 1rem;
                    height: 39.5rem;

                    .product-details-container {
                        margin-left: 3rem;
                        font-size: 17px;
                        font-weight: 500;

                        .product-image-url #imageUrl {
                            height: 35px;
                        }

                        .gender-category, .price-currency {
                            display: flex;

                            .gender, .price {
                                width: 49.5%;
                                margin-right: 15px;
                            }

                            .category, .currency {
                                width: 49.5%;
                            }
                        }

                        .infos {
                            margin-top: 2rem;
                        }
                    }

                    .product-img-container {
                        margin-left: 5rem;
                    }
                }
            }
        }
    }
}