<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="return-home" (click)="goToHome()">
    Return To Homepage
  </div>
  <div class="spacer"></div>
  <div class="skip-to-login" (click)="goToAccountPage()">
    <span>
      <img src="../assets/forward-solid.svg" width="15" height="15" class="skip-arrow" />
    </span>
    Skip directly to Account Page
  </div>

  <!-- Debug Buttons -->
  <!-- <div>
    <button (click)="debugPost()">
      Debug Button Post
    </button>
  </div>
  <div>
    <button (click)="debugGet()">
      Debug Button Get
    </button>
  </div> -->
  <!-- Debug Buttons -->

  <!-- Login Pop-up -->
  <div class="login-popup">
    <div id="loginPopupTitle" class="login-popup-title">
      You are not logged in <span class="red-text">THE OUTLET</span>
    </div>
    <div class="separator"></div>
    <div class="credentials-box">

    </div>
  </div>
  <!-- Login Pop-up -->

</div>

<router-outlet></router-outlet>