<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="return-home" (click)="goToHome()">
    <i class="bi bi-house-fill"></i>
    &nbsp;
    <span style="text-decoration: underline;">Return to Homepage</span>
  </div>
  <div class="spacer"></div>
  <div class="mini-cart mx-4 px-3" *ngIf="cartItems.length > 0" (click)="goToCheckout()">
    <span class="pr-2 mt-1">Items in Cart:</span>
    <span class="mini-cart-products-counter">{{ cartItems.length }}</span>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill"
        viewBox="0 0 16 16">
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </svg>
    </span>
  </div>
  <div class="skip-to-login" (click)="goToAccountPage()">
    <span style="text-decoration: underline;">Skip directly to Account Page</span>
    <span class="red-text" *ngIf="isLoggedIn">&nbsp;{{'(' + username + ')'}}</span>
  </div>
  <div class="app-component-actions">
    <button type="button" *ngIf="isLoggedIn" class="btn btn-primary btn-sm sign-out-btn" title="Sign Out"
      (click)="signOut()">
      <i class="bi bi-box-arrow-left"></i>
    </button>
  </div>

  <!-- Debug Buttons -->
  <!-- <div>
    <button (click)="debugPost()">
      Debug Button Post
    </button>
  </div>
  <div>
    <button (click)="debugGet()">
      Debug Button Get
    </button>
  </div> -->
  <!-- Debug Buttons -->

  <!-- Login Pop-up -->
  <div class="login-popup" *ngIf="loginPopupDisplayState === true">
    <ng-container *ngIf="registerPopupDisplayState == false">
      <div id="highlightableTitle" class="login-popup-title">
        You are not logged in <span class="red-text">THE OUTLET</span>
        <span class="close" (click)="loginPopupDisplayState = false; registerPopupDisplayState = false">-</span>
      </div>
      <div class="separator"></div>
      <div class="credentials-box">
        <form #loginForm="ngForm">
          <div class="form-group">
            <label for="userForLoginEmail">Email address</label>
            <input type="email" class="form-control" id="userForLoginEmail" aria-describedby="emailHelp"
              placeholder="Email" required minlength="3" [(ngModel)]="userForLogin.email"
              (ngModelChange)="updateUserForLoginEmailForm()" #userForLoginEmail="ngModel" name="emailForLogin">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="userForLoginPass">Password</label>
            <input type="password" class="form-control" id="userForLoginPass" aria-describedby="passHelp"
              placeholder="Password" required minlength="8" [(ngModel)]="userForLogin.password"
              (ngModelChange)="updateUserForLoginPassForm()" #userForLoginPass="ngModel" name="passwordForLogin">
            <small id="passHelp" class="form-text text-muted">Your password is securely encrypted in our system.</small>
          </div>
          <div class="buttons-row">
            <button type="button" class="btn btn-secondary login-btn" (click)="login()">
              <i class="bi bi-box-arrow-in-right"></i>
              Login
            </button>
            <button type="button" class="btn btn-secondary register-btn" (click)="registerPopupDisplayState = true">
              <i class="bi bi-plus-circle-fill"></i>
              Register
            </button>
            <span id="errorMsg" class="error-msg">Please check your credentials.</span>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="registerPopupDisplayState == true">
      <div id="highlightableTitle" class="register-popup-title">
        You are now registering as a customer in <span class="red-text">THE OUTLET</span>
        <span class="close" (click)="loginPopupDisplayState = false; registerPopupDisplayState = false">-</span>
      </div>
      <div class="separator"></div>
      <div class="register-box">
        <form #registerForm="ngForm">
          <div class="form-group">
            <label for="userForRegisterFirstName">First Name</label>
            <input type="text" class="form-control" id="userForRegisterFirstName" placeholder="First Name" required
              [(ngModel)]="userForRegister.firstName" (ngModelChange)="updateUserForRegisterFirstNameForm()"
              #userForRegisterFirstName="ngModel" name="firstNameForRegister">
          </div>
          <div class="form-group">
            <label for="userForRegisterLastName">Last Name</label>
            <input type="text" class="form-control" id="userForRegisterLastName" placeholder="Last Name" required
              [(ngModel)]="userForRegister.lastName" (ngModelChange)="updateUserForRegisterLastNameForm()"
              #userForRegisterLastName="ngModel" name="lastNameForRegister">
          </div>
          <div class="form-group">
            <label for="userForRegisterEmail">Email</label>
            <input type="text" class="form-control" id="userForRegisterEmail" placeholder="Email" required minlength="3"
              [(ngModel)]="userForRegister.email" (ngModelChange)="updateUserForRegisterEmailForm()"
              #userForRegisterEmail="ngModel" name="emailForRegister">
          </div>
          <div class="form-group">
            <label for="userForRegisterPass">Password</label>
            <input type="password" class="form-control" id="userForRegisterPass" placeholder="Password" required
              aria-describedby="passHelp" minlength="8" [(ngModel)]="userForRegister.password"
              (ngModelChange)="updateUserForRegisterPassForm()" #userForRegisterPass="ngModel"
              name="passwordForRegister">
            <small id="passHelp" class="form-text text-muted">The password must be at least 8 characters long.</small>
          </div>
          <div class="buttons-row">
            <span class="return-link" (click)="registerPopupDisplayState = false">
              << Back To Login</span>
                <button type="button" class="btn btn-secondary login-btn" (click)="register()">
                  <i class="bi bi-plus-circle-fill"></i>
                  Register
                </button>
                <span id="errorMsg" class="error-msg narrower-err-msg">Something went wrong. Please check your
                  data.</span>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
  <!-- Login Pop-up -->

</div>

<ng-container *ngIf="spinnerDisplayState === true">
  <app-spinner></app-spinner>
</ng-container>
<router-outlet></router-outlet>