@import '../styles.scss';

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $base-gray;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
}

.toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
    opacity: 0.8;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container {
    margin-top: 23rem;

    .card-container-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 413px) {
    .card-container {
        margin-top: 15rem;
    }
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid $base-gray;
    background-color: $base-gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgb(0, 0, 0);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card.card.highlight-card span {
    margin-left: 60px;
}

svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
}

svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
}

a,
a:visited,
a:hover {
    color: $base-red;
    text-decoration: none;
}

a:hover {
    color: $base-red;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
        width: 100%;
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}

.return-home {
    display: inline-flex;
    margin-left: 1.5rem;
    cursor: pointer;
    margin-bottom: 4px;
}

.return-home:hover {
    color: $base-red;
}

.skip-to-login {
    display: inline-flex;
    cursor: pointer;

    .skip-arrow {
        margin: 0 8px 4px 0;
    }

    .red-text {
        color: $base-red;
    }
}

.app-component-actions {
    margin-left: 1rem;
    margin-right: 1.5rem;

    .sign-out-btn {
        padding: 0.25rem 0.75rem;
        font-size: 1rem;
        background-color: $base-red-dark;
        border-color: $base-gray;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #000;
        transition: all 0.2s ease-in-out;
    }

    .sign-out-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgb(0, 0, 0);
    }
}

.skip-to-login:hover {
    color: $base-red;
}

.login-popup {
    position: fixed;
    top: 4.7rem;
    right: 1rem;
    border-radius: 5px;
    background-color: $base-gray;
    align-self: self-end;
    width: 30rem;
    height: auto;
    z-index: 2001;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #000;
    border: 1px solid #1b1b1b;

    .login-popup-title {
        font-weight: 600;
        font-size: 1rem;
        margin: 1rem 0 0.7rem 1.5rem;
        text-shadow: 1px 1px #2b2b2b;

        .red-text {
            color: $base-red;
        }

        .close {
            color: white;
            line-height: 0.5;
            margin-right: 1.5rem;
            font-size: 2rem;
        }
    }

    .register-popup-title {
        font-weight: 600;
        font-size: 1rem;
        margin: 1rem 0 0.7rem 1.5rem;
        text-shadow: 1px 1px #2b2b2b;

        .red-text {
            color: $base-red;
        }

        .close {
            color: white;
            line-height: 0.5;
            margin-right: 1.5rem;
            font-size: 2rem;
        }
    }

    .separator {
        background-color: #7e7e7e;
        height: 1px;
        width: 27rem;
        margin: 0 0 0 1.5rem;
    }

    .credentials-box,
    .register-box {
        padding: 0.7rem 1.5rem 1.5rem 1.5rem;

        .buttons-row {
            display: flex;

            .login-btn,
            .register-btn {
                background-color: $base-gray;
                border-color: $base-gray;
                color: #fff;
                border: 1px solid $base-gray;
                border-radius: 4px;
                margin-right: 1rem;
                margin-top: 0.5rem;
                transition: all 0.2s ease-in-out;
                transform: translateY(-3px);
                box-shadow: 0 4px 17px rgb(0, 0, 0);
            }

            .register-btn {
                color: $base-red;
            }

            .login-btn:hover,
            .register-btn:hover {
                color: $base-red;
            }

            .register-btn:hover {
                color: #fff;
            }

            .error-msg {
                color: #fff;
                display: none;
            }
            
            .narrower-err-msg {
                max-width: 10rem;
            }

            .return-link {
                color: #fff;
                margin-top: 0.8rem;
                margin-right: 1rem;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}
