<div class="choose-one-specific-panel">
    <div class="category-info-text">
        YOU ARE NOW BROWSING <span class="red-text">{{specificCategory}}</span> FOR <span
            class="red-text">{{category}}</span>
    </div>
    <div class="row filter-items-row">
        <div class="col-3">
            <div class="card above">
                <div class="card-body">
                    <div class="filter-icon-container">
                        <i class="bi bi-filter-circle-fill"></i>
                    </div>
                    <div *ngFor="let filter of filterList" class="filter-list-item">
                        <label class="filter-label"
                            for="filter-item- + {{filter.filterName}}">{{filter.filterName}}</label>
                        <select id="filter-item- + {{filter.filterName}}" class="form-select">
                            <option selected>Filter by {{filter.filterName}} (All)</option>
                            <option *ngFor="let opt of filter.opts" value="{{opt}}">{{opt}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card under">
                <div class="card-body-under">
                    <div class="money-filter">
                        <label class="filter-label">Price Range</label>
                        <div id="price-range-min" class="range-control-container">
                            <input type="range" id="range-control" class="form-range"
                                (change)="registerMinPriceChange($event)" min="1" max="3100">
                            <label for="range-control" class="range-control-label">Min</label>
                        </div>
                        <div class="show-value-container">
                            <i class="bi bi-coin"></i>
                            {{moneyFilterMin}}
                        </div>
                        <div id="price-range-max" class="range-control-container">
                            <input type="range" id="range-control" class="form-range"
                                (change)="registerMaxPriceChange($event)" min="1" max="3100">
                            <label for="range-control" class="range-control-label">Max</label>
                        </div>
                        <div class="show-value-container">
                            <i class="bi bi-coin"></i>
                            {{moneyFilterMax}}
                        </div>
                    </div>
                    <div class="actions">
                        <button type="button" class="btn btn-secondary apply">
                            <i class="bi bi-filter-circle-fill"></i>
                            Apply Filters
                        </button>
                        <button type="button" class="btn btn-secondary reset">
                            <i class="bi bi-x-circle-fill"></i>
                            Reset Filters
                        </button>
                    </div>
                    <div class="logo">THE&nbsp;<span class="red-text">OUTLET</span></div>
                </div>
            </div>
        </div>
        <div class="col-9 right-col">
            <div class="card right-whole">
                <div class="card-body-items-list">
                    <div class="items-panel row">
                        <div *ngFor="let item of items" class="item-card" (click)="navigateTo(item)">
                            <img [src]="item.imageUrl" class="product-image"
                                onerror="this.onerror=null;this.src='../../../assets/image-not-found.png';">
                            <span class="product-name">
                                <i class="bi bi-cc-circle"></i>
                                {{item.itemName}}
                                <br><br>
                                <span class="red-text">{{item.price}}{{item.currency}}</span>
                            </span>
                            <div class="add-to-cart-btn-container">
                                <button type="button" class="btn btn-secondary add-to-cart-btn"
                                    (click)="$event.stopPropagation(); addToCart(item)">
                                    <i class="bi bi-cart-check-fill"></i>
                                    &nbsp;
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>