@import '../../../styles.scss';

.choose-one-specific-panel {
    width: 100vw;
    height: 100vh;
    margin-top: 3.7rem;
    background: url("../../../assets/bg.jpg") no-repeat;
    background-size: cover;
    overflow-y: scroll;

    .category-info-text {
        font-size: 2rem;
        font-weight: 800;
        color: white;
        margin-left: 1rem;
        margin-top: 1rem;
        text-shadow: 1px 1px #2b2b2b7c;

        .red-text {
            color: $base-red;
            text-shadow: 1px 1px #2b2b2b7c;
        }
    }

    @media screen and (max-width: 413px) {
        .category-info-text {
            font-size: 1.5rem;
        }
    }

    .filter-items-row {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        width: auto;
        height: calc(100vh - 10rem);
        background-color: #2b2b2b;
        border-radius: 5px;

        .card {
            background-color: $white;
            color: #000;
            margin-top: 1rem;
            box-shadow: 0 4px 17px rgb(0, 0, 0);

            .card-body {
                overflow-y: auto;
                padding: 1rem 1rem;

                .filter-icon-container {
                    font-size: 2rem;
                    position: absolute;
                    right: 0.65rem;
                    top: 0;
                }
            }

            .card-body-under {
                overflow-y: auto;
                padding: 1rem 1rem;

                .money-filter {
                    margin-top: 1rem;

                    .range-control-container {
                        display: flex;
                        margin-top: 2rem;

                        .form-range {
                            width: 85%;
                        }

                        .range-control-label {
                            font-size: 1rem;
                            font-weight: 500;
                            margin-left: 1rem;
                        }
                    }

                    .show-value-container {
                        font-size: 1.5rem;
                        padding-left: 37%;
                    }
                }

                .actions {
                    margin-top: 3rem;

                    .reset {
                        margin-left: 0.7rem;
                    }
                }

                .logo {
                    color: $base-gray;
                    font-weight: 800;
                    font-size: 3rem;
                    text-shadow: 2px 2px rgba(0, 0, 0, 0.3862745098);
                    position: absolute;
                    bottom: 1rem;
                    left: 2rem;
        
                    .red-text {
                        color: $base-red;
                    }
                }
            }

            .card-body-items-list {
                width: auto;
                height: 96.7%;
            }

            .filter-label {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        .card.above {
            height: 45%;
        }

        .card.under {
            height: 50%;
        }

        .card.right-whole {
            height: 100%;
        }

        .filter-list-item {
            margin-top: 1rem;

            .subfilter {
                margin-top: 5px;

                label {
                    font-weight: 300;
                    margin-left: 5px;
                }
            }
        }

        .right-col {
            padding-left: 0;
            height: 96.7%;
        }

        .items-panel {
            background-color: $white;
            border-radius: 4px;
            overflow-y: auto;
            margin: 0;
            padding-top: 1rem;
            height: 96.7%;

            .item-card {
                font-size: 1.3rem;
                font-weight: 600;
                color: #000;
                width: 25rem;
                height: 35rem;
                padding: 2rem;
                transition: all 0.2s ease-in-out;
                border-radius: 10px;
                cursor: pointer;
                text-align: center;
                background-color: $white;
                margin-left: 3rem;
                margin-top: 1.5rem;
                margin-bottom: 3rem;
                box-shadow: 0 4px 17px rgb(0, 0, 0);

                .product-image {
                    width: 18rem;
                }

                .product-name {
                    margin-left: 1rem;
                    display: flex;
                    justify-content: space-evenly;
                    height: 4.5rem;

                    .red-text {
                        color: $base-red;
                    }
                }

                .add-to-cart-btn-container {
                    .add-to-cart-btn {
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }
            }

            .item-card:hover {
                transform: translateY(-3px);
                box-shadow: 0 4px 17px rgb(0, 0, 0);
            }
        }
    }
}